accelerate==1.2.0
datasets==3.1.0
diffusers==0.31.0
huggingface_hub==0.26.2
lovely_tensors==0.1.17
numpy==2.2.0
pandas==2.2.3
Pillow==11.0.0
rich==13.9.4
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.0
transformers==4.46.2
webdataset==1.0.2
wandb==0.19.0
scikit-learn==1.7.0
